body {
    background-color: powderblue;
   
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}
h1{
    color: blue;
}
h2{
    color: blue;
}
h3{
    color: blue;
}
h4{
    color: blue;
}
.chotu:hover {
    background-color: gold;
}

/*
image selector
img{
    background-color: brown;
}
*/

/*
class selectors 

.chotu
{
    background-color: blueviolet;
}
.satyam{
    background-color: brown;
}
*/
#heading
{
    color:red;
}

/*
universal selector
*
{
    color:red;
}
*/
